@import url("forms.css");

#alt-wrapper {
    display: block;
    width: 1024px;
    height: ;
}


.page-view {
    position: relative;
    width: 100%;
    height: ;
    margin: 0 auto;
    border: 1px solid #000;
    background: url("../img/image.png");
}

.form-wrapper {
    position: absolute;
    top: 0;
    right: 40px;
    width: 220px;
    padding: 10px;
   
    background: #eeeeee;
   
    -moz-box-shadow: 0 0 3px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.15);
    -o-box-shadow: 0 0 3px 3px rgba(0,0,0,0.15);
    -ms-box-shadow: 0 0 3px 3px rgba(0,0,0,0.15);
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.15);
}

.form h3 {
    font-size: 18px;
    color: #000000;
    text-shadow: 0 0 3px 3px rgba(0,0,0,0.15);
}

.form input[type=text], .form input[type=email], 
.form input[type=password] {
    width: 200px;
}

.form .login-options {
    display: block;
    font-size: 12px;
    padding: 5px;
    margin: 20px auto 0 auto;
}